authentication = [
  ## Check 1: client information
  {
    mechanism = cinfo
    checks = [
      {
        # Allow clients which can compute password sha1 from a secret salt
        result = allow
        is_match = "str_eq(password,hash('sha1',concat([username,':magic-chicken'])))"
      },
      {
        # Deny clients which do not have client-id the same as certificate common name
        is_match = "str_neq(clientid,cert_common_name)"
        result = deny
      }
    ]
  },
  ## Check 2: if check 1 is not conclusive, let HTTP server make the decision
  {
    mechanism = password_based
    backend = http
    url = "http://auth-server:8000"
    method = post
    headers {content-type = "application/json"}
    body {
      cert = "${cert_pem}"
      clientid = "${clientid}"
      username = "${username}"
      password = "${password}"
    }
  }
]
