opentelemetry {
  exporter {
    endpoint = "http://otel-collector:4317"
  }
  logs {
    enable = false
  }
  metrics {
    enable = false
  }
  traces {
    enable = true
    filter {
      trace_all = true
      trace_mode = e2e
    }
  }
}
