mqtt {
  client_attrs_init = [
    {
      # extract OU from certificate DN
      # input: CN=demo-cn-1,OU=demo-ou-1,O=MyOrgName,L=Stockholm,ST=Stockholm,C=SE
      # output: demo-ou-1
      expression = """concat(regex_extract(dn,'OU\s*=\s*([^,]+)'))"""
      set_as_attr = tns
    }
  ]
  # Add tenant namespace as a prefix to the original client ID
  clientid_override = """concat([client_attrs.tns,'-',clientid])"""
}
